<!DOCTYPE html>
<html lang="fr">
    <%- include ('./partials/head') %>
<body>
    <div class="container text-center" style="height: 300px; margin-top: 150px;">
        <div class="row rounded-3" style="background:rgb(214, 211, 211);">
            <div class="col-12">
                <button type="button" class="btn btn-success  btn-outline-primary btn-lg m-5 w-25"><a href="/login" class="nav-link text-white">Se Connecter</a></button>
            </div>

            <div class="col-12">
                <button type="button" class="btn btn-outline-secondary btn-lg w-25"><a href="/register" class="nav-link text-white">S'Inscrire</a></button>
            </div>
        </div>
    </div>
</body>
</html>